html {
	scroll-behavior: smooth;
	font-size: 16px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background-color: blue;
}

.main-container {
  text-align: center;
  background-color: aquamarine;
  padding: 1.5em;
  border-radius: 0.5em;
  width: 80%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.board {
  display: none;
  justify-content: center;
}

input[type=text],
input[type=submit] {
  display: inline-block;
  padding: 0.3em 0.5em;
  margin-right: 1.5em;
}

.messages {
  margin: 1em 0;
  font-size: 1.5em;
  color: red;
  font-weight: bolder;
}

th, td {
  text-align: center;
  font-size: 2em;
  vertical-align: middle;
  width: 3em;
  height: 3em;
}

table, th, td {
  border: 1px solid black;
}

.highlight {
  background-color: yellow;
  padding: 10px;
}
